div {
  margin: 10px 0;
  padding: 0 10px;
  border: grey thin solid;
}

div p.price {
  font-size: larger;
  font-weight: bold;
  text-align: right;
}

div p.date {
  font-style: italic;
  text-align: right;
}
