<h2>Последние 10 объявлений</h2>
<div *ngFor="let bb of bbs">
  <h3><a [routerLink]="bb.id">{{bb.title}}</a></h3>
  <p>{{bb.content}}</p>
  <p class="price">Цена: {{bb.price|currency:'UAN'}}</p>
  <p class="date">Объявление оставлено {{bb.created_at|date:'medium}}</p>
</div>
