{% extends "layout/basic.html" %}
{% block title %}О сайте{% endblock %}

{% block content %}
<h2>О сайте</h2>
<p>Сайт для публикации объявлений о продаже, разбитых на рубрики.</p>
<p>Все права принадлежат читателям книги &quot;Django 2.1&quot;.</p>
{% endblock %}
