{% extends 'layout/basic.html' %}

{% block title %}Ошибка при активации{% endblock %}

{% block content %}
    <h2>Активация</h2>
    <p>Пользователь с таким именем прошла неудачно.</p>
    <p><a href="{% url 'main:register' %}">Зарегистрироваться повторно</a></p>
{% endblock %}