{% extends 'layout/basic.html' %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid mb-2">
</div>
{% if bbs %}
<ul class="list-unstyled">
    {% for bb in bbs %}
    <li class="media my-5 p-3 border">
        {% url 'main:detail' rubric_pk=bb.rubric.pk pk=bb.pk as url %}
        <a href="{{ url }}{{ all }}">
            {% if bb.image %}
            <img class="mr-3" src="{% thumbnail bb.image 'default' %}">
            {% else %}
            <img class="mr-3" src="{% static 'main/empty.jpg' %}" style="width: 100px; height: 100px">
            {% endif %}
        </a>

        <div class="media-body">
            <h3><a href="{{ url }}{{ all }}">
                {{ bb.title }}
            </a></h3>
            <p>Рубрика: {{ bb.rubric }}</p>
            <div>{{ bb.content }}</div>
            <p class="text-right font-weight-bold">{{ bb.price }} грн.</p>
            <p class="text-right font-italic">{{ bb.created_at }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
