{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}Сброс пароля выполнен{% endblock %}

{% block content %}
    <div class="my-2 p-2 border ">
        <h2>Сброс пароля</h2>
        <p>По указанному при регистрации адресу электронной почты выслано письмо для сброса пароля.</p>
    </div>
{% endblock content %}
