{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<h2>Смена пароля пользователя {{ user.username }}</h2>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons summit='Сменить пароль' %}{% endbuttons %}
</form>
{% endblock %}
