{#{% extends 'layout/basic.html' %}#}
{##}
{#{% block title %}Профиль пользователя{% endblock %}#}
{##}
{#{% block content %}#}
{#<h2>Профиль пользователя {{ user.username }}</h2>#}
{#{%  if user.first_name and user.last_name %}#}
{#<p>Здравствуйте, {{ user.first_name }} {{ user.last_name }}!</p>#}
{#{% else %}#}
{#<p>Здравствуйте!</p>#}
{#{% endif %}#}
{#<h3>Ваши объявления</h3>#}
{#{% endblock %}#}

{% extends 'layout/basic.html' %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{{ rubric }}{% endblock %}
{##}
{#{% block searchform %}#}
{#{% endblock %}#}

{% block content %}

{#<h2>Профиль пользователя {{ user.username }}</h2>#}
{#{%  if user.first_name and user.last_name %}#}
{#<p>Здравствуйте, {{ user.first_name }} {{ user.last_name }}!</p>#}
{#{% else %}#}
{#<p>Здравствуйте!</p>#}
{#{% endif %}#}
<h2>Мои объявления</h2>
    <p><a href="{% url 'main:profile_bb_add' %}">Добавить</a></p>

<h2 class="mb-2">{{ rubric }}</h2>
{#<div class="container-fluid mb-2">#}
{#    <div class="row">#}
{#        <div class="col">&nbsp;</div>#}
{#        <form class="col-md-auto form-inline">#}
{#            {% bootstrap_form form show_label=False %}#}
{#            {% bootstrap_button content='Искать' button_type='submit' %}#}
{#        </form>#}
{#    </div>#}
{#</div>#}
{% if bbs %}
<ul class="list-unstyled">
    {% for bb in bbs %}
    <li class="media my-5 p-3 border">
{#        {% url 'main:detail' rubric_pk=rubric.pk pk=bb.pk as url %}#}
        {% url 'main:profile_bb_detail' pk=bb.pk as url %}
        <a href="{{ url }}{{ all }}">
            {% if bb.image %}
            <img class="mr-3" src="{% thumbnail bb.image 'default' %}">
            {% else %}
            <img class="mr-3" src="{% static 'main/empty.jpg' %}" style="width: 100px; height: 100px">
            {% endif %}
        </a>
        <div class="media-body">
            <p>Рубрика: {{ bb.rubric }}</p>
            <h3><a href="{{ url }}{{ all }}">
                {{ bb.title }}
            </a></h3>
            <div>{{ bb.content }}</div>
            <p class="text-right font-weight-bold">{{ bb.price }} грн.</p>
            <p class="text-right font-italic">{{ bb.created_at }}</p>
            <p class="text-right mt-2">
                <a href="{% url 'main:profile_bb_change' pk=bb.pk %}">Редактировать</a>
                <a href="{% url 'main:profile_bb_delete' pk=bb.pk %}">Удалить</a>
            </p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
