{% extends 'layout/basic.html' %}

{% load bootstrap4 %}
{% block title %}
    Удаление объявления - Профиль пользователя
{% endblock %}

{% block content %}
    <h2>Удаление объявления</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% bootstrap_formset formset layout='horizontal' %}
        {% buttons submit='Удалить' %}{% endbuttons %}
    </form>
{% endblock %}