{% extends 'layout/basic.html' %}

{% block title %}Регистрация завершена{% endblock %}

{% block content %}
<h2>Регистрация</h2>
<p>Регистрация пользователя завершена.</p>
<p>На адрес электронной почты, указанной пользователем, выслано письмо для активации.</p>
{% endblock %}